*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
}
body{
    display:flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif; 
}
.sign{
    font-weight: 300;
    width: 300px;
    background-color: white;
    border:1px solid grey; 
    padding: 30px;
    border-radius: 10px;
    margin-top: 0px;
    display:flex;
    flex-direction:column;
    gap: 15px;
}
#head{
    font-weight: 400;
}
.input{
    width:100%;
}
.box{
    width:100%;
}
.input{
    padding:10px;
}
#Signin{
    padding:10px;
    border-radius: 50px;
    border:1px solid grey; 
    background-color: rgb(10, 102, 194);
    color: white;
    text-align: centre;
    width:100%;
    cursor: pointer;
}
#apple{
    padding:10px;
    border-radius: 50px;
    border:1px solid grey;
    background-color: white;
    width:100%;
    cursor: pointer;
}